html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* Contenedor padre de los 3 botones */
.container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

/* Contenedor hijo de los 3 botones */
.button-container {
  justify-content: flex-end;
  width: 200px;
  height: 100px;
  position: absolute;
}

/* Id's de los 3 botones */
#rotacion,
#translacion,
#escalacion {
  width: 200px;
  height: 50px;
  margin: 40px 45px 0px 0px;
  font-size: 18px;
}

/* Id de la figura */
#figure {
  height: 100px;
  width: 100px;
  background-color: aqua;
  position: absolute;
  margin: 0px;
  animation-name: colors;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#btnModal {
  position: absolute;
}

/* Animacion de escalación */
@keyframes escalation {
  0% {
    height: 100px;
    width: 100px;
  }
  50% {
    height: 200px;
    width: 200px;
  }
  100% {
    height: 100px;
    width: 100px;
  }
}

/* Animacion de cambio de colores de la figura */
@keyframes colors {
  0% {
    background-color: white;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: white;
  }
}

/* Animacion de evento de translacion */
@keyframes highTranslation {
  50% {
    position: absolute;
    transform: translate(-100px, -100px);
  }
}

/* Animacion de evento de rotación */

@keyframes rotation2 {
  0% {
    position: absolute;
    transform: rotate(0deg);
  }
  50% {
    position: absolute;
    transform: rotate(10deg);
  }
  100% {
    position: absolute;
    transform: rotate(0deg);
  }
}

.bola {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #dbb004;
}

/* Plano cartesiano e marcações */
.cartesiano {
  width: 600px;
  height: 600px;
  border-left: 4px solid #616161;
  border-top: 4px solid #616161;
  position: relative;
  margin: 30px 0 0 50px;
  background-color: #ccc;
  background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  color: #616161;
}

.cartesiano:before {
  content: "Y";
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.cartesiano:after {
  content: "X";
  position: absolute;
  top: 2px;
  right: 7px;
}

.xy0 {
  position: absolute;
  left: -20px;
  top: -20px;
}

.y100px {
  position: absolute;
  left: -50px;
  top: 95px;
}

.y200px {
  position: absolute;
  left: -50px;
  top: 195px;
}

.y300px {
  position: absolute;
  left: -50px;
  top: 295px;
}

.y400px {
  position: absolute;
  left: -50px;
  top: 395px;
}

.y500px {
  position: absolute;
  left: -50px;
  top: 495px;
}

.y600px {
  position: absolute;
  left: -50px;
  top: 595px;
}

.x100px {
  position: absolute;
  top: -25px;
  left: 80px;
}

.x100px {
  position: absolute;
  top: -25px;
  left: 80px;
}

.x200px {
  position: absolute;
  top: -25px;
  left: 180px;
}

.x300px {
  position: absolute;
  top: -25px;
  left: 280px;
}

.x400px {
  position: absolute;
  top: -25px;
  left: 380px;
}
.x500px {
  position: absolute;
  top: -25px;
  left: 480px;
}
.x600px {
  position: absolute;
  top: -25px;
  left: 580px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  #rotacion,
  #translacion,
  #escalacion {
    margin-top: 700px;
    display: flex;
    justify-content: center;
  }
}
